.home {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1500px;
  min-width: 1000px;
  background-color: rgba(234, 237, 237, 0);
}

.home__row {
  display: flex;
  z-index: 1;
  margin: 0 5px;
}
.home__row--first {
  margin-top: -350px;
}

.home__image {
  width: 100%;
  height: 650px;
  z-index: -1;
  margin: 0;
  mask-image: linear-gradient(
    to bottom,
    rgb(0, 0, 0),
    rgba(0, 0, 0, 0.822),
    rgba(255, 255, 255, 0)
  );
  /* background-image: linear-gradient(
    to bottom, transparent, #837960
  ), url("Images/background.jpg"); */
}

.slideshow {
  overflow: hidden;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  width: 100%;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 20px 0px;
  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #f0c14b;
}
